

<link rel="stylesheet" type="text/css" href="assets/footer.css">
<footer>
	<div id="container">
<div class="wrapper">
	<div class="ft-div"><div><p class="ft-h3">About</p><hr style="color:#379bf0"></div> <p id="ft-content">there's no specific tag to describe me</p></div>
	<div class="ft-div"><div><p class="ft-h3">Explore</p><hr style="color:#379bf0"></div>
			<ul style="margin-top: 10px;float: left;margin-left: -50px;">
				<li><a id="ft-anchor"href="/">Home</a></li>
				<li><a id="ft-anchor"href="#">Rooms</a></li>
				<li><a id="ft-anchor"href="#">Map</a></li>
				<li><a id="ft-anchor"href="#">Location</a></li>
				<li><a id="ft-anchor"href="#">Contact</a></li>
			</ul>

	</div>
	<div class="ft-div"><div><p class="ft-h3">PAYMENT ACCEPTED</p><hr style="color:#379bf0"></div>
	<div style="margin-top: 10px;">
	<img src="images/icon-visa.png">
	<img src="images/icon-master-card.png">
	<img src="images/icon-paypal.png">
	</div>
</div>
	<div class="ft-div"><div><p class="ft-h3">Following Us</p><hr style="color:#379bf0">
		<div style="margin-top: 10px; display:flex;flex-direction: row;">
			<a href="#"><i class="fab fa-facebook-square fa-3x ft-icon"></i></a>
			<a href="#"><i class="fab fa-twitter-square fa-3x ft-icon"></i></a>
			<a href="#"><i class="fab fa-google-plus-square fa-3x ft-icon"></i></a>
			<a href="https://github.com/wackyjoker/HTDemo"><i class="fab fa-github-square fa-3x ft-icon"></i></a>
		</div>
	</div>
</div>
	
</div>
<div id="copyrights">
	©copyrights 2018 actually no copy rights this is  just a demo TeeHee420
</div>
</div>

</footer>



</body>
</html>