<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>This Is A Demo</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="assets/icons.css">
	<link rel="stylesheet" type="text/css" href="assets/defoo.css">
	<link rel="icon" href="/favicon.ico">
	
	
</head>
<body>
<header>
	
	<h2><a href="#"><img src="images/companyLogo.PNG" style="min-width: 200px;filter: brightness(50%);"></a></h2>
	<div style="margin-right: 100px;">
	<nav style="float: right;">
		
		
			
			 		 <%# if(!currentUser){%>   <!-- waiting autentication  -->

			 		<li><a href='/login'>Sign in</a></li>
			 	<%# }else{%> 
			 			<!-- <li><a href="#">welcome <%#=currentUser.username %></a></li>  -->
			 		<li><a href="#">Sign out</a></li>
			 		<%# }%> 
			 		<li><a id="git-tag" href="https://github.com/wackyjoker/HTDemo"><i class="fab fa-github" aria-hidden="true"></i>github</a></li>

			 	
	</nav>
	</div>
	</header>
	
<section class="hero">
	<div class="bg-img" style="background-image:url(images/bcn-bg.jpg)"></div>
	<div class="hero-content-area">
		<h1>Booking Service</h1>
		<h3 id="s1-h3">Unmissable Adventure Tours Around The World</h3>
		
	</div>
	<form id="search-hotel-form">
	<div id="search-bar">
		<div class="form-items "><input type="text" class="input-childs child1" name="Hotel-location" placeholder="Location ex:Barcelona" ></div>
		<div class="form-items">
				<select class="input-childs child2" placeholder='asdasd'>
				  <option value="volvo">Select Your Area</option>
				  <option value="saab">Option 1</option>
				  <option value="mercedes">Option 2</option>
				  <option value="audi">Option 3</option>
				</select>
					</div>
		<div class="form-items "><input type="text" onfocus="(this.type='date')" class="input-childs child3" name="Hotel-location" placeholder="Check In Date" ></div>
		<div class="form-items "><input type="text" onfocus="(this.type='date')" class="input-childs child4" name="Hotel-location" placeholder="Check Out Date" ></div>
		<div class="form-items "><button type="submit" class="input-childs child5">Search Now</button></div>

	</div>
	</form>
</section>

<section class="destinations">
	<div class="s2-textContent">
	<h3 class="s2-title">Ours Rooms</h3>
	<p class="s2-p">123 </p>

	<hr>
	</div>
	<ul class="grid">
		<li class="small" style="background-image:url(images/s2img1.jpg);"></li>
		<li class="small" style="background-image:url(images/s2img2.jpg);"></li>
		<li class="small" style="background-image:url(images/s2img3.jpg);"></li>
		<li class="small" style="background-image:url(images/s2img4.jpg);"></li>
	</ul>
</section>


<script type="text/javascript" src="assets/action.js"></script>

<%include partials/footer%>