<% include partials/header %>

<section>
	<div class="login-container" ">
		<div id="content-container-register">   <!-- register area -->
	<p style="align-self: center;font-size:30px;">You Don't have an Account?</p>
	<hr style="margin:20px 10px;width: 80%">
	<form action="/register" method="POST"> <!-- waiting for back-end -->
		<div>
			<h4>UserName</h4>
			<input class="input-childs" name="username" type="text" style="align-self: center;" placeholder="alphabet&numbers123">
		</div>
		<div>
			<h4>Email Adress</h4>
			<input class="input-childs" type="email" name="password" placeholder="john@doe.com" value="">
		</div>
		<div>
			<h4>Password</h4>
			<input class="input-childs" type="password" name="email" placeholder="password" >
		</div>
		<div>
			<button class="btn-login"><i class="fas fa-users"></i>&nbsp Join Us Now</button>
		</div>
	</form>
		</div>
		<div id="content-container-login"> <!-- login area -->
	<p style="align-self: center;font-size:30px">Log In First</p>
	<hr style="margin:20px 10px;width: 80%;">
	<form>
		<div action="/login" method="POST">
			<h4>UserName</h4>
			<input class="input-childs" name="" type="text" style="align-self: center;" placeholder="Username/Email" value="">
			
		</div>
		<div>
			<h4>Password</h4>
			<input class="input-childs" type="password" name="" placeholder="password" value="" >
		</div>
		<div>
			<button class="btn-login"><i class="fas fa-sign-in-alt"></i>&nbsp Sign In Now</button>
		</div>
	</form>
		</div>
</div>
</section>

<%include partials/footer%>