
footer{
	margin-top: 120px;
	background-color: #4d4d4d;
	width: 100%;
	padding: 0 0;
	position:relative;
	margin-top: 100px;
	display: flex;
	flex-direction: column-reverse;
	bottom: 0;
	height: 400px;

}

.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ft-div{
	width: 15%;
	margin-right: 1%;
	margin-bottom: 10px;
}
#copyrights{
	color: white;
	background-color:#1a1a1a;
	text-align: center;
	padding: 40px 0;
	position: relative;

}

hr{
	width: 15%;
	float: left;

}

.ft-h3{
	color:#fff;
	font-size: 20px;
}

#ft-content{
	margin-top: 20px;
	color: #d9d9d9;
}

li{
	margin: 5px 5px;
	list-style-type: none;

}

#ft-anchor{
	color: #d9d9d9;
}

.ft-icon{
	margin-right: 5px;
}